

#main { 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  width: 30vw;
}

.dropbtn {
  min-width: 120px;
  background-color: #0F3460;
  color: white;
  padding: 13px;
  border: none;
  cursor: pointer;
  font-family: monospace;
  border-radius: 5px 5px 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.content {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
  text-align: center;
  border-radius: 0 0 5px 5px;
  transition: all 0.3s ease-in-out;
}

.content div {
  font-family: monospace;
  font-weight: bold;
  background-color: transparent;
  padding-top: 5px;
  text-decoration: none;
  display: block;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}



.content div:hover {background-color: #aaaaaa; }

.dropdown:hover .content {
  max-height: 110px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.dropdown:hover .dropbtn {
  background-color: #0F3460;
}

#editor {
  background-color: #0f3360b8;
  text-align: center;
  font-family: monospace;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  min-width: 350px;
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

#editor #editarea { 
  background-color: transparent;
  flex: auto;
  border-radius: 0 0 10px 10px;
  padding: 3%;
  overflow: hidden;
}

#subjectlist {
  background-color: #0d284e;
  border-radius: 15px;
  width: 40%;
  height: 100%;
  overflow: scroll;
}

.subject {
  background-color: #04173e;
  padding: 10px;
  border-bottom: 2px solid #0f3460;
  font-family: monospace;
  font-weight: bold;
  color: white;
}

.subject:hover {
  background-color: #0f3460;
}

#addsubjectbtn {
  height: 100%;
  width: 20%;
  background-color: transparent;
  color: white;
  font-family: monospace;
}